<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fly the Continent of Europe</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </div>
</head>

<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/}">Fly Europe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/search}">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login}">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>

</html>