<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--"@{/airport/} + ${a.id}"-->

<head>
    <meta charset="ISO-8859-1">
    <title>Airports Page</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Airports</h1>
    <a th:href="@{/new}">Add New Airport</a>
    <br/><br/>
    <form th:action="@{/search}" method="post">
        Search by Name, Country or City:
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required/>
        &nbsp;
        <input type="submit" value="Search"/>
        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>
    </form>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">ID</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=country&sortDir=' + ${reverseSortDir}}">Country</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=city&sortDir=' + ${reverseSortDir}}">City</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=iata&sortDir=' + ${reverseSortDir}}">IATA</a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="airport : ${listAirports}">
            <td th:text="${airport.id}">ID</td>
            <td th:text="${airport.name}">Name</td>
            <td th:text="${airport.country}">Country</td>
            <td th:text="${airport.city}">City</td>
            <td th:text="${airport.iata}">IATA</td>
            <td>
                <a th:href="@{'/edit/' + ${airport.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${airport.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>&nbsp;&nbsp;</div>
    <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
    <div>&nbsp;&nbsp;</div>
    <div th:if="${totalPages > 1}">Total Items: [[${totalItems}]]
        &nbsp;&nbsp; - &nbsp;&nbsp;
        <a th:if="${currentPage > 1}" th:href="@{'/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
        <span th:unless="${currentPage > 1}">First</span>

        <a th:if="${currentPage > 1}"
           th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
        &nbsp;&nbsp;
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}"
                       th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                    &nbsp;
                </span>
        <a th:if="${currentPage < totalPages}"
           th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;&nbsp;
        <a th:if="${currentPage < totalPages}"
           th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>
</div>
<script type="text/javascript">
            function clearSearch() {
                window.location = "[[@{/}]]";
            }

</script>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>