<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1">
		<title>Edit Airport</title>
		<div th:replace="fragments/header :: header-css"/>
	</head>

	<body>

		<div th:replace="fragments/header :: header"/>

			<div class="container">
			<h1>Edit Airport</h1>
			<a th:href="@{/}">Home</a>
			<br/><br/>
			<form action="#" th:action="@{/save}" th:object="${airport}" method="post">
				<table border="0" cellpadding="10">
					<tr>
						<td>Airport Name:</td>
						<td><input type="text" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td>City:</td>
						<td><input type="text" th:field="*{city}" /></td>
					</tr>
					<tr>
						<td>Country:</td>
						<td><input type="text" th:field="*{country}" /></td>
					</tr>
					<tr>
						<td>IATA:</td>
						<td><input type="text" th:field="*{iata}" /></td>
					</tr>
					<tr>
						<td>ICAO:</td>
						<td><input type="text" th:field="*{icao}" /></td>
					</tr>
					<tr>
						<td>Latitude:</td>
						<td><input type="number" th:field="*{latitude}" /></td>
					</tr>
					<tr>
						<td>Altitude:</td>
						<td><input type="number" th:field="*{altitude}" /></td>
					</tr>
					<tr>
						<td>Timezone:</td>
						<td><input type="number" th:field="*{timezone}" /></td>
					</tr>
					<tr>
						<td>Dst:</td>
						<td><input type="text" th:field="*{dst}" /></td>
					</tr>
					<tr>
						<td>Tz:</td>
						<td><input type="text" th:field="*{tz}" /></td>
					</tr>
					<tr>
						<td>Type:</td>
						<td><input type="text" th:field="*{type}" /></td>
					</tr>
					<tr>
						<td>Source:</td>
						<td><input type="text" th:field="*{source}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Save</button></td>
					</tr>
				</table>
			</form>
		</div>

		<div th:replace="fragments/footer :: footer"/>

	</body>

</html>