<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Database, Upload Files</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h1>Upload Files to Database</h1>

    <form th:action="@{/upload-file}" method="post">
        <div class="form-group">
            <label for="fileUrl">File URL</label>
            <input id="fileUrl" type="text" class="form-control" name="fileUrl" th:value="${fileUrl}" />
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>