<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="ISO-8859-1">
    <title>Flights Page</title>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">

</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="img">
    <img src="../static/images/flight-background.jpeg" th:src="@{images/flight-background.jpeg}">
</div>

<div class="container">
    <br/><br/>
    <h1>=== Place for Picture ===</h1>
    <br/>
    <h2>Flights</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <br/><br/>

</div>

</body>

<div th:replace="fragments/footer :: footer"></div>

</html>