<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <br/><br/>

    <h1>=== Place for Picture ===</h1>
    <br/>
    <form th:action="@{/search}" method="post">
        <h2>Search for a destination</h2>
        <br/>
        <div class="input-group">
            <input type="search" class="form-control" name="keyword" id="keyword" size="25" th:value="${keyword}"
                   autofocus="autofocus" placeholder="City or Airport">
            <div pseudo="-webkit-textfield-decoration-container">
                <div pseudo="-webkit-search-decoration"></div>
                <div>
                    <div contenteditable="plaintext-only"></div>
                </div>
                <div pseudo="-webkit-search-cancel-button" aria-label="cancel" role="button"></div>
            </div>
            </input>
        </div>
        <br/>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" aria-label="Search">
                Search
            </button>
        </div>
    </form>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>