<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Login</title>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" th:href="@{/css/layout.css}" href="../../static/css/layout.css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="login-page"></div>
<div class="login-form">
    <div class="col-xs-12">
        <form th:action="@{/login}" method="post">
            <fieldset>
                <h2>Please Sign In</h2>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" required="" autofocus=""/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" id="password" name="password"
                               type="password" data-toggle="password"/>
                    </div>
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                    </div>
            </fieldset>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>